body {
	background: #f6f5f7;
    background-repeat: no-repeat;
    background-size: cover;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}